.SearchLabel {
  color: black;
  font-size: 1.5rem;
}
.SearchBox {
  border: none;
  outline: none;
  height: 40px;
  width: 400px;
  font-size: large;
  padding: 10px;
  background-color: lightgray;
  box-shadow: 0px 2px 2px -7px rgba(0, 0, 0, 0.5);
  position: sticky;
  cursor: text;
}
.bindingSearchBox {
  border: none;
  outline: none;
  height: 40px;
  width: 400px;
  font-size: large;
  padding: 10px;
  background-color: lightgray;
  box-shadow: 0px 2px 2px -7px rgba(0, 0, 0, 0.5);
  position: sticky;
  cursor: text;
  margin-top: -15px;
  margin-left: -4px;
}

.groupFilterBox {
  border: none;
  outline: none;
  height: 40px;
  width: 400px;
  font-size: large;
  padding: 10px;
  background-color: lightgray;
  box-shadow: 0px 2px 2px -7px rgba(0, 0, 0, 0.5);
  position: sticky;
  cursor: text;
  margin-left: 0px;
  margin-top: -30px;
}

.auto {
  display: flex;
  flex-direction: column;
  width: 415px;
  margin: 0 auto;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
}

.Display {
  width: 99%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding: 5px;
  position: relative;
}

.Display:hover {
  background-color: lightcyan;
}

.DivStyle {
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.InnerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: -20px;
  width: 100%;
}

.iconStyle {
  position: fixed;
  margin-left: 350px;
  top: 1%;
  cursor: pointer;
}

.imageStyle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: right;
  position: absolute;
  right: 3%;
}

.dataBindingImage {
  height: 300px;
  width: 400px;
  align-items: center;
}

.overViewDiv {
  display: block;
  text-align: left;
}

.dataBindingDiv {
  height: 80vh;
  display: flex;
  width: 100%;
}

.dataBindingLeft {
  width: 50%;
  left: 0;
}

.dataBindingRight {
  right: 0;
  width: 40%;
  text-align: left;
  margin: 0 auto;
  margin-top: 50px;
}

.dataBindingInnerDiv {
  display: flex;
  width: 405px;
  margin: 0 auto;
  margin-top: -150px;
}

.groupImg {
  height: "200px";
  width: "400px";
}

.groupFilteringDiv {
  display: flex;
  margin-top: 20px;
  text-align: left;
  margin-left: 120px;
}

.groupFilterRight {
  right: 0;
  width: 50%;
  margin-top: 50px;
}

.personDiv {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.personDiv:hover {
  background-color: rgb(214, 214, 214);
}

.innerHeader {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  padding: 0.5rem;
}

.outerHeader {
  width: 412px;
  margin-top: -20px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  padding: 4px;
}

.paraStyles {
  text-align: left;
  font-weight: bold;
}

.categoryHeading {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

.containerDiv {
  width: 412px;
  display: flex;
}
